streamlit
pandas
streamlit-mic-recorder
numpy<=2.2
numba
fastapi
uvicorn
python-dotenv
requests
python-multipart
git+https://github.com/openai/whisper.git
ffmpeg-python
torch==2.2.2+cpu -f https://download.pytorch.org/whl/torch_stable.html

