streamlit
pandas
streamlit-mic-recorder
numpy<=2.2
numba
fastapi
uvicorn
python-dotenv
requests
python-multipart
whisper @ git+https://github.com/openai/whisper.git
torch      # no need to pin exact version, let Render pick latest compatible
ffmpeg-python
